<template>
  <div id="app">
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link class="navbar-item" to="/">
          <h2>Lunch N Learn</h2>
        </router-link>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
          v-on:click="controlMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu" v-bind:class="{'is-active':activeMenu}">
        <div class="navbar-start" v-on:click="deactivateMenu">
          <router-link class="navbar-item" to="/">Home</router-link>
          <router-link class="navbar-item" to="/new">New</router-link>
        </div>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeMenu: false
    };
  },
  methods: {
    controlMenu() {
      this.activeMenu = !this.activeMenu;
    },
    deactivateMenu() {
      this.activeMenu = false;
    }
  }
};
</script>


<style lang="sass">
@import "~bulma/bulma.sass";
</style>
