<template>
  <div class="section">
    <h1 class="title">Submissions V2</h1>
    <div class="notification is-danger" v-if="err">{{err}}</div>
    <div class="card" v-for="sub in subs" :key="sub.id">
      <header class="card-header">
        <p class="card-header-title">{{sub.title}}</p>
        <button v-on:click="deleteSubmission(sub.id)" class="card-header-icon" aria-label="more options">
          <span class="icon">
            X
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          <p>
            <strong>By:</strong>
            {{sub.presenter}}
          </p>
          <p>
            <strong>Description:</strong>
            {{sub.desc}}
          </p>
          <p>
            <strong>Length:</strong>
            {{sub.length}} minutes
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "home",
  computed: mapState({
    subs: state => state.submissions,
    err: state => state.error
  }),
  methods:{
    deleteSubmission(id) {
      this.$store.dispatch("deleteSubmission", id)
    }
  },
  mounted() {
    this.$store.dispatch("getSubmissions");
  }
};
</script>

<style scoped>
.card {
  margin: 10px;
}
</style>
