<template>
  <div class="section">
    <h1 class="title">New Submission</h1>
    <div class="field">
      <label class="label">Your Name</label>
      <div class="control">
        <input v-model="sub.presenter" class="input" type="text" placeholder="Joe Bloggs">
      </div>
    </div>
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input v-model="sub.title" class="input" type="text" placeholder="presentation title">
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea v-model="sub.desc" class="textarea" placeholder="presentation description"/>
      </div>
    </div>
    <div class="field">
      <label class="label">Length</label>
      <div class="control">
        <input v-model.number="sub.length" class="input" type="number" placeholder="30">
        <small>in minutes</small>
      </div>
    </div>
    <button v-on:click="submit" class="button is-success">Submit Talk</button>
  </div>
</template>

<script>
export default {
  name: "new",
  data() {
    return {
      sub: {
        title: "",
        presenter: "",
        desc: "",
        length: 30
      }
    };
  },
  methods: {
    submit() {
      this.$store
        .dispatch("addSubmission", this.sub)
        .then(this.$router.push("/"));
    }
  }
};
</script>

<style>
</style>
